{% extends 'layout.html.twig' %}

{% block content %}
<div class="container mt-5">
    <h1>Détails de l'offre : {{ offre.titre }}</h1>
    <p><strong>Description :</strong> {{ offre.description }}</p>
    <p><strong>Date de début :</strong> {{ offre.dateDebut|date('d/m/Y') }}</p>
    <p><strong>Date de fin :</strong> {{ offre.dateFin|date('d/m/Y') }}</p>
    <p><strong>Entreprise :</strong> {{ offre.entreprise.nom }}</p>
    <p><strong>Rémunération :</strong> {{ offre.remuneration }} €</p>
                <p><strong>Nombre de candidatures :</strong> {{ nombreCandidatures }}</p>

    <p><strong>Compétences requises :</strong></p>
    <ul>
        {% for competence in offre.competences %}
            <li>{{ competence.nom }}</li>
        {% endfor %}
    </ul>

    <!-- Bouton Postuler -->
    <a href="{{ url_for('offre-postuler', {'id': offre.id}) }}" class="btn btn-primary">
        <i class="bi bi-pencil-square"></i> Postuler
    </a>

    <!-- Bouton Retour -->
    <a href="{{ url_for('offre-list') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}