{% extends "layout.html.twig" %}

{% block content %}
<div class="container mt-4">
    <a href="{{ url_for('user-add') }}" class="btn btn-primary mb-4">Ajouter un utilisateur</a>

    <div class="row">
        {% for user in users %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.prenom }} {{ user.nom }}</h5>
                        <p class="card-text"><strong>Email :</strong> {{ user.email }}</p>
                        <p class="card-text"><strong>Date de naissance :</strong> {{ user.dateNaissance|date('d/m/Y') }}</p>
                        <p class="card-text"><strong>Date d'inscription :</strong> {{ user.dateCreation|date('d/m/Y H:i:s') }}</p>
                        <p class="card-text"><strong>Rôle :</strong> {{ user.role }}</p>

                        {% if currentUser.role == 'admin' %}
                            <a href="{{ url_for('user-edit', {idUser: user.id}) }}" class="btn btn-secondary bi bi-pencil"> Modifier</a>
                            <a href="{{ url_for('user-delete', {idUser: user.id}) }}" class="btn btn-danger bi bi-trash3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')"> Supprimer</a>
                        {% elseif currentUser.role == 'pilote' and user.role == 'user' %}
                            <a href="{{ url_for('user-edit', {idUser: user.id}) }}" class="btn btn-secondary bi bi-pencil"> Modifier</a>
                            <a href="{{ url_for('user-delete', {idUser: user.id}) }}" class="btn btn-danger bi bi-trash3" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if currentPage > 1 %}
            <a href="{{ url_for('paginatedList', {page: currentPage - 1}) }}" class="btn btn-link">Précédent</a>
        {% endif %}
        {% if currentPage < totalPages %}
            <a href="{{ url_for('paginatedList', {page: currentPage + 1}) }}" class="btn btn-link">Suivant</a>
        {% endif %}
    </div>
</div>
{% endblock %}
